= render :partial => @comment
= link_to 'Edit', edit_comment_path(@comment)
&nbsp; - &nbsp;
= link_to 'Destroy', @comment, :method => :delete, :confirm => "Are you sure?" 
&nbsp; - &nbsp;
= link_to 'See All Comments', comments_path
