body {
	font-family: helvetica, Georgia, "Times New Roman", Times, serif;
	font-size: 1.0em;
	line-height:1.5;
	margin:auto;
	padding:0;
	background: #fff url(../images/bg.png) top left repeat-x;
}
#pagewrap {
	width:800px;
	margin: auto;
}
#main_box {
	display:none;
	background: #fff;
	margin:0px auto;
	padding: 2s0px 0px 50px 0px;
	text-align: center;	
	border: 3px solid #333;
}
#main_box img{
	display:none;
}
h1 {
	padding: 0px 0px 50px 0px;
	color: #666;
}
h2 {
	display:none;
	font-size: 1.6em;
	color: #333;
	height:100px;
}
#wrap {
	height: 100px;
}
