/* Color Swatches */
/*  */
/* Error Handling */
/*  */
.flash_notice {
  background: orange url(/images/content_fade_b.png) top left repeat-x; }

.flash_notice span {
  float: left;
  padding: 5px 3px 5px 8px; }

.flash_notice a {
  color: #fff; }

.flash_notice_text {
  margin: 0px 0px 0px 50px;
  padding: 5px;
  color: #fff; }

/*  */
/* Body and Main CSS */
/*  */
body {
  color: #333333;
  font-family: helvetica;
  background-color: gray;
  font-size: 13px;
  font-weight: normal;
  background: #909090 url(/images/site_bg_b.png) top left repeat-x; }

a {
  color: #62c562;
  text-decoration: none;
  border-bottom: 1px dotted; }

a:hover {
  color: #e1d400; }

h1 {
  color: #333333;
  margin: 10px 0px 10px 0px;
  padding: 0px;
  font-size: 22px; }

h2 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
  font-size: 20px; }

h3 {
  margin: 10px 0px 5px 0px;
  padding: 0px;
  font-size: 18px; }

.right_content h2, .right_content h3, .right_content li, .right_content p {
  color: #999; }

.right_content h2 {
  line-height: 0.5; }



#page_frame {
  width: 900px;
  margin: 0px auto 0px auto; }

.top_header {
  height: 180px;
  background: #fff url(/images/header.jpg) top left no-repeat; }

.content_wrap {
  background: #fff url(/images/content_fade_b.png) top left repeat-x;
  padding: 15px;
  color: #333333; }

/*  */
/* Menu CSS */
/*  */
.top_menu {
  background-color: #fff;
  background: #62c562 url(/images/menu_bg.gif) top left repeat-x; }

.top_menu ul {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  list-style: none; }

.top_menu li {
  float: left;
  padding: 0px;
  margin: 0px; }

.top_menu li a {
  display: block;
  padding: 8px 15px 6px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #363636;
  border: none; }

.top_menu li a:hover {
  background: #cecece;
  color: #363636; }

.partners_menu_flyout {
  position: absolute;
  display: block;
  margin: 0px 0px 0px -2px;
  padding: 0px;
  width: 135px; }

.partners_menu_flyout {
  border: 2px solid #62c562;
  border-top: none;
  background: #fff; }

.partners_menu_flyout .menu_sub_div {
  display: block;
  background: #fff url(/images/content_fade_b.png) top left repeat-x; }
  .partners_menu_flyout .menu_sub_div a {
    display: block;
    font-size: 12px;
    padding: 7px 7px; }

/*  */
/* Footer CSS */
/*  */
.page_footer {
  height: 40px;
  background-color: #363636; }

.small_icon {
  padding: 5px 10px; }

.languages {
  float: right;
  color: #cecece;
  padding: 10px; }

.lang-choice span {
  text-decoration: underline;
  cursor: pointer; }

.copy_right {
  color: #efefef;
  font-size: 10px;
  text-align: center;
  margin: 0px;
  padding: 5px 0px; }

.copy_right a {
  text-decoration: none;
  color: #fff; }

/*  */
/* Index CSS */
/*  */
.main_head {
  margin-top: 0px; }

.right_content {
  float: right;
  width: 220px;
  border-left: 1px solid #efefef;
  padding: 0px 20px; }

.left_content {
  margin: 0px 290px 0px 0px; }

.index_photo {
  float: left;
  height: 150px;
  width: 200px;
  border: 1px solid #ddd;
  background: #efefef; }

.index_photo p {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #dddddd;
  padding: 20px 0px; }

.index_text {
  margin: 0px 0px 0px 210px;
  padding: 0px; }

.options_menu ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

.options_menu li {
  list-style: none;
  padding: 10px 10px; }
  .options_menu li a {
    width: 200px;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0px;
    color: #fff;
    border: none; }

.quick_contact_menu ul {
  margin: 0px;
  padding: 0px; }

.quick_contact_menu li {
  list-style: none;
  padding: 5px 10px; }
  .quick_contact_menu li a {
    font-size: 13px;
    font-weight: bold;
    margin: 0px 0px; }

.quick_contact_menu h2 {
  margin: 0px; }

.datepicker_wrap {
  font-size: 10px;
  margin-bottom: 20px; }

/*  */
/* Partners CSS */
/*  */
.partners_wrap {
  padding: 0px 0px 20px 0px; }

.bio_wrap {
  padding: 0px 0px 0px 0px; }

.bio_wrap h2 {
  border-bottom: 1px solid #ddd;
  line-height: 0.7;
  margin-bottom: 15px;
  color: #999; }

.bio_wrap h2 span {
  float: right;
  color: #333;
  font-size: 13px;
  padding: 2px 0px 0px 0px; }

.bio_wrap h2 span a {
  text-decoration: none; }

.bio_image {
  float: left;
  height: 150px;
  width: 200px;
  border: 1px solid #ddd;
  background: #efefef; }

.bio_image p {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #dddddd;
  padding: 20px 0px; }

.bio_text {
  margin: 0px 0px 0px 210px; }

.bio_text p {
  margin: 0px 0px 15px 0px; }

.bio_contact {
  padding: 0px 0px 30px 0px; }

/*  */
/* Services CSS */
/*  */
.resource_list h2 {
  padding-bottom: 0px;
  margin-bottom: 0px; }


.resource_list li {
  padding: 10px; }

.resource_list ul {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 30px 10px; }

#resource_list a {
  color: #62c562; }

/*  */
/* Locations CSS */
/*  */
.location h2 {
  padding-top: 20px; }

#fairfax_map {
  float: left;
  display: none;
  position: absolute; }

#fredericksburg_map {
  float: left;
  position: absolute; }

.locations_table {
  padding: 0px 10px 0px 10px;
  margin: 0px; }

.location_table_header {
  font-weight: bold;
  padding: 3px 15px 3px 10px;
  background: #efefef;
  border-bottom: 1px solid #fff; }

.location_table_row {
  width: 220px;
  padding: 3px 15px 3px 10px;
  background: #efefef;
  border-bottom: 1px solid #fff; }

.map_link {
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  color: #62c562;
  text-decoration: none;
  border-bottom: 1px dotted; }

.map_link:hover {
  color: #e1d400; }

.dynamic_map_wrap {
  float: right;
  padding: 30px 0px 0px 0px;
  height: 400px;
  width: 450px; }

.skype_div a {
  margin: 0px 0px 0px 40px;
  border: none; }

.skype_div img {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: center;
  border: none; }

/*  */
/* Mailer CSS */
/*  */
#mailer_wrap {
  width: 500px; }

#mailer_wrap h1 {
  color: #62c562;
  font-size: 20px;
  padding: 0px 5px 25px 10px; }

.small_mailer_icon {
  float: right; }

.div_spacer {
  padding: 10px; }

#mailer_wrap form {
  border-top: 1px solid #ddd;
  padding-top: 10px; }

#mailer_wrap form input, textarea {
  margin: 0px 0px 0px 10px;
  padding: 2px; }

#mailer_wrap form textarea {
  height: 50px;
  width: 250px; }

#mailer_wrap form label {
  width: 180px; }

#mailer_wrap form input.error, textarea.error {
  border-width: 1px;
  border-style: dotted;
  border-color: #d94e4e; }

#mailer_wrap form label.error, textarea.error {
  color: #d94e4e; }

#mailer_wrap form label.error {
  margin-left: 10px;
  display: inline-block; }

/*  */
/* Misc CSS */
/*  */
.ui-datepicker-days-row td {
  padding: 0px; }

#facebox .footer a {
  border: none; }

/*  */
/* Clearfix CSS */
/*  */
.clearfix {
  *display: inline-block; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
