/* Color Swatches */
/*  */
/* Error Handling */
/*  */
#smhkform label.error {
  background-color: #fff;
  padding: none;
  border: none; }

/*  */
/* Body and Main CSS */
/*  */
body {
  color: #333333;
  font-family: helvetica;
  background-color: #666666;
  font-size: 13px;
  font-weight: normal; }

a {
  color: #62c562; }

h1 {
  color: #333333;
  margin: 10px 0px 10px 0px;
  padding: 0px; }

h2 {
  margin: 10px 0px 5px 0px;
  padding: 0px; }

#page_frame {
  width: 850px;
  margin: 0px auto 0px auto; }

.page_wrap {
  background-color: #fff; }

.top_header {
  height: 180px;
  background: #fff url(/images/header.jpg) top left no-repeat; }

.content {
  background: url(/images/content_fade_b.png) top left repeat-x;
  padding: 15px; }

/*  */
/* Menu CSS */
/*  */
.top_menu {
  background-color: #fff; }

.top_menu ul {
  background: #333 url(/images/menu_bg.gif) top left repeat-x;
  padding: 0;
  margin: 0; }

.top_menu li {
  display: inline-block;
  padding: 7px 15px; }
  .top_menu li a {
    text-decoration: none;
    font-size: 18px;
    color: #363636; }
.top_menu li:hover {
  background: #cecece; }

.partners_menu_flyout {
  position: absolute;
  margin: 7px 0px 7px -17px; }

.partners_menu_flyout ul {
  border: 2px solid #62c562;
  border-top: none;
  background: #fff; }

.partners_menu_flyout li {
  display: block;
  background: #fff url(/images/content_fade_b.png) top left repeat-x; }
  .partners_menu_flyout li a {
    font-size: 12px;
    padding: 5px; }

/*  */
/* Footer CSS */
/*  */
.page_footer {
  height: 40px;
  background-color: #363636; }

.small_icon {
  padding: 5px 10px; }

.languages {
  float: right;
  color: #cecece;
  padding: 10px; }

.lang-choice span {
  text-decoration: underline; }

.copy_right {
  background-color: #666666;
  color: #efefef;
  font-size: 10px;
  text-align: center;
  margin: 0px;
  padding: 5px 0px; }

/*  */
/* Index CSS */
/*  */
.main_head {
  margin-top: 0px; }

.right_content {
  float: right;
  width: 210px;
  border-left: 1px solid #efefef;
  padding: 0px 20px; }

.left_content {
  margin: 0px 270px 0px 0px; }

.options_menu ul {
  margin: 0px;
  padding: 0px; }

.options_menu li {
  list-style: none;
  padding: 10px 10px; }
  .options_menu li a {
    width: 200px;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0px;
    color: #fff; }

.datepicker_wrap {
  font-size: 10px;
  margin-bottom: 20px; }

/*  */
/* Locations CSS */
/*  */
.location h2 {
  padding-top: 20px; }

#fairfax_map {
  float: left;
  display: none;
  position: absolute; }

#fredericksburg_map {
  float: left;
  position: absolute; }

.locations_table {
  padding: 0px 10px 0px 10px;
  margin: 0px; }

.location_table_header {
  font-weight: bold;
  padding: 3px 15px 3px 10px;
  background: #efefef;
  border-bottom: 1px solid #fff; }

.location_table_row {
  width: 170px;
  padding: 3px 15px 3px 10px;
  background: #efefef;
  border-bottom: 1px solid #fff; }

.map_link {
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  font-size: 12px;
  color: #62c562; }

.dynamic_map_wrap {
  float: right;
  padding: 30px 0px 0px 0px;
  height: 400px;
  width: 450px; }

.skype_div img {
  padding: 0px 0px 0px 40px;
  text-align: center;
  border: none; }

/*  */
/* Misc CSS */
/*  */
/*  */
/* Misc CSS */
/*  */
.ui-datepicker-days-row td {
  padding: 0px; }

/*  */
/* Clearfix CSS */
/*  */
.clearfix {
  *display: inline-block; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
