<p>One of your friends (<i><%= @name %></i>) thinks that you may be interested in the services that Spencer, Mayoras, Henderson, &amp;Koch Attorneys at Law can provide.</p>

<p> <%= @name %></i> has left you the following the message: "<i><%= @message_body %></i>".</p>

<p>Their website is <a href="http://www.smhklaw.com">www.smhklaw.com</a>.</p>
 
<p>Please feel free to submit questions directly to <a href="mailto:partners@smhklaw.com">partners@smhklaw.com</a>.</p>

<p>Thank You!</p>