.bio_wrap.clearfix
  %h2 Andy Cornick
  .bio_image
    %img{"src"=>"/images/cornick_bio_image.jpg"}
  .bio_text 
    %p Andy Cornick has devoted his career to the practice of criminal law. While a law student at the University of Richmond, he clerked at one of the most prestigious criminal defense law firms in Richmond.  Upon graduation Andy was asked to associate with the firm -- the first offer extended to a law clerk in over fourteen years.  Andy enjoyed success in matters ranging from traffic infractions to serious felonies such as aggravated malicious wounding and attempted murder. Andy represented clients in the courts of over thirty Virginia jurisdictions, as well as in the United States District Court for the Eastern District of Virginia.
    %p Feeling the call to public service, Andy accepted a position as prosecutor for the City of Fredericksburg in 2006.  During his tenure with the City, Andy prosecuted nearly every imaginable type of case and routinely advised and trained the officers of the Fredericksburg Police Department.  Andy also served as a special prosecutor in Hanover, Spotsylvania, and Stafford Counties.  In February 2009, Andy was one of approximately 80 prosecutors chosen nationwide by one of the nation's largest professional organizations for prosecutors to receive special in-depth training in the prosecution of online crimes against children.  
    %p Andy is admitted to practice in the state courts of Virginia and in the United States District Courts of the Eastern and Western Districts of Virginia, as well as the Fourth Circuit Court of Appeals.  He is a member of the Fredericksburg Area Bar Association, and serves on the Judicial Selection Committee and the By-Laws Committee.  Andy is also on the Board of Directors of the Young Graduates Association at the University of Richmond School of Law.

.bio_contact
  %p 
    Andy Cornick can be contacted by email at:
    %a{"href"=>"mailto:cornick@smhklaw.com"} cornick@smhklaw.com
    or he can be reached at: (540) 372-4046