.bio_wrap.clearfix
  %h2 Ashley P. Henderson
  .bio_image
    %img{"src"=>"/images/henderson_bio_image.jpg"}
  .bio_text 
    %p Ashley Henderson graduated from Virginia Tech and then graduated from Wake Forest School of Law.  After law school, Ms. Henderson began working at the Prince William County Commonwealth’s Attorney Office.  With her third year practice certificate Ms. Henderson represented the Commonwealth in cases in Juvenile and Domestic Relations Court, General District Court, and Circuit Court.  Ms. Henderson negotiated agreements, tried cases, including jury trials, and prepared appeals.

    %p Following the Prince William County Commonwealth’s Attorney Office Ms. Henderson was an associate with Spencer & Seguin, PLC for two years.  While at Spencer & Seguin, PLC Ms. Henderson practiced primarily in the area of criminal defense.  She handled cases from traffic tickets to robbery.  Ms. Henderson had the opportunity while at Spencer & Seguin, PLC to assist Mr. Spencer in a murder trial.  Ms. Henderson practiced in Fairfax, Arlington, Prince William and Loudoun while with Spencer & Seguin, PLC and continues to do so today.

    %p Beginning January 2009 Ms. Henderson became a founding partner with Spencer, Mayoras, Henderson, & Koch, PLC.  Ms. Henderson continues in her path of criminal law representing defendant’s in their unfortunate encounters with the police.  She zealously advocates on behalf of her clients and has represented clients charged with misdemeanors and felonies including drug charges, grand larceny, embezzlement and traffic violations.

.bio_contact
  %p 
    Ashley Henderson can be contacted by email at:
    %a{"href"=>"mailto:henderson@smhklaw.com"} henderson@smhklaw.com
    or she can be reached at: (703) 293-2960