.bio_wrap.clearfix
  %h2 John M. Spencer
  .bio_image
    %img{"src"=>"/images/spencer_bio_image.jpg"}
  .bio_text 
    %p John M. Spencer Esquire is a graduate of the University of North Carolina- Charlotte with a B.A. in History. Mr. Spencer graduated Cum Laude and as a member of the Golden Key National Honor Society. Mr. Spencer was awarded the degree of Juris Doctor from the University of North Carolina- Chapel Hill. While pursuing this degree Mr. Spencer was a member of the Trial Law Academy and Criminal Defense Clinic. He also served as the treasurer of the Domestic Violence Advocacy Program. 
    %p Prior to founding Spencer, Mayoras, Henderson, and Koch, Mr. Spencer founded Spencer & Seguin, PLC. Before founding Spencer & Seguin, PLC, Mr. Spencer served in the United Stated Air Force as a canine handler/Security Policeman from 1988 – 1991. Upon completion of his military service Mr. Spencer returned to New York where he served as a police officer from 1992 – 1997. After receiving his law degree, Mr. Spencer worked for the law firm of Steptoe & Johnson, LLP, in Washington D.C. He left that position to focus on trial work at the Office of the Public Defender in Fredericksburg, VA. Mr. Spencer is a member of the Virginia State Bar and concentrates his practice in mainly criminal matters ranging from traffic infractions to 1str degree murder. 

.bio_contact
  %p 
    John Spencer can be contacted by email at:
    %a{"href"=>"mailto:spencer@smhklaw.com"} spencer@smhklaw.com
    or he can be reached at: (540) 372-4046