.bio_wrap.clearfix
  %h2 John D. Mayoras
  .bio_image
    %p Photo Coming Soon
  .bio_text 
    %p John D. Mayoras is graduate of the University of Michigan where he obtained his Bachelor of the Arts in English.  He then attended the University of North Carolina Law School at Chapel Hill and has been practicing in Virginia since 2003.  While in law school, John was a member of the Criminal Clinic where he defended clients in criminal cases.  He also was a member of the Innocence Project, a foundation that attempts to free the wrongly convicted.  John worked as a Research Assistant for Professor Gail Agrawal, and was an intern for the North Carolina Attorney General's Office.  
    %p In 2004,  John joined the Fredericksburg Public Defenders Office, while there he worked in numerous jurisdictions, including Spotsylvania County, Stafford County, King George, and the City of Fredericksburg.  Upon leaving the Public Defender's office, John became a partner with Spencer, Mayoras, Henderson, & Koch, PLC.  John is experienced in handling a diverse assortment of criminal cases ranging from serious violent felonies to traffic offenses.

.bio_contact
  %p 
    John Mayoras can be contacted by email at:
    %a{"href"=>"mailto:mayoras@smhklaw.com"} mayoras@smhklaw.com
    or he can be reached at: (540) 372-4046