.bio_wrap.clearfix
  %h2 Price G. Koch
  .bio_image
    %p Insert Photo
  .bio_text 
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nisl mauris, tempor fermentum malesuada a, feugiat vel ipsum. Donec leo libero, accumsan pharetra pharetra sit amet, venenatis vel velit. Cras condimentum ante ac mauris sagittis congue. Curabitur euismod tristique justo, et volutpat magna dapibus in. Vivamus a libero eget enim posuere euismod vel a mi. Donec et ante non mi aliquet accumsan quis nec dolor. Sed ornare ante id velit fringilla condimentum. Aenean eu malesuada odio. Nunc aliquam lacinia odio vitae volutpat. Morbi vestibulum ornare scelerisque. Donec semper sem et augue dapibus sed hendrerit orci fringilla. Cras ut mi tellus. Pellentesque nulla elit, vehicula non semper ut, aliquet ut ante.

.bio_contact
  %p 
    Price Koch can be contacted by email at:
    %a{"href"=>"mailto:koch@smhklaw.com"} koch@smhklaw.com
    or he can be reached at: (540) 372-4046