.bio_wrap.clearfix
  %h2 Price G. Koch
  .bio_image
    %p Photo Coming Soon
  .bio_text 
    %p Bio Coming Soon

.bio_contact
  %p 
    Price Koch can be contacted by email at:
    %a{"href"=>"mailto:koch@smhklaw.com"} koch@smhklaw.com
    or he can be reached at: (540) 372-4046