.bio_wrap.clearfix
  %h2 G. Price Koch
  .bio_image
    %p Photo Coming Soon
  .bio_text 
    %p Price Koch graduated from New York University in 1998 and received his law degree from George Mason University School of Law in 2005.  He started practicing criminal law with the Public Defender’s Office in Fredericksburg where he handled numerous cases and jury trials.  After working with the Public Defender’s Office, he joined the law firm of Spencer & Seguin PLC. With Spencer & Seguin PLC, he continued criminal defense, handling a number of computer and sex crime jury trials. 
    %p Mr. Koch has a real passion for criminal defense that shows in his courtroom vigor. Even in the first few years of his criminal practice, he has conducted a number of jury trials with successful outcomes. He does not shy away from taking risks and advocating for individuals who might otherwise not have a champion in their corner.  Given this experience, he can confidently advise clients the differences and advantages between the possible outcomes of a trial or a plea.  Recently, he has argued before the Court of Appeals of Virginia and has been handling a number of criminal appeals to higher courts.
    %p Mr. Koch has been a partner with Spencer, Mayoras, Henderson & Koch PLC since January 2009. He continues to solely focus his skills in the law of criminal defense, from minor traffic offenses to major felony jury trials.

.bio_contact
  %p 
    Price Koch can be contacted by email at:
    %a{"href"=>"mailto:koch@smhklaw.com"} koch@smhklaw.com
    or he can be reached at: (540) 372-4046