%h1 Index Page
.datepicker_wrap
  #datepicker
  
%p{"langtag"=>"description"}
  Here's an example page of my jQuery plug-in: "LangChange". With it, you can  change the language of your website in a click and without reloading your page. Simply create an xml file with all your texts in the desired languages. See the example for more information and try it now by selecting the language of your choise.
