.index_wrap.clearfix
  .right_content
    / .datepicker_wrap
    /   #datepicker
    .quick_contact_menu
      %h2 Quick Contact
      %ul
        %li 
          %b Fredericksburg: 
          (540) 372-4046

        %li 
          %b Fairfax: 
          (703) 293-2960

    .options_menu
      %ul
        %li{"style"=>"border-bottom:none;"}
          %a.btn.green.facebox{"href"=>"/send_mail_to_partners"} Send an Email to the Partners
        %li 
          %a.btn.green.facebox{"href"=>"/send_mail_to_friend"} Send this page to a friend
        %li 
          %a.btn.green{"href"=>"/locations"} View full contact information
        
  .left_content
    %h1.main_head Spencer, Mayoras, Henderson, &amp; Koch, PLC
    .index_text{"langtag"=>"description"}
      %p
        .header Serious Help for Serious Concerns. 
        %br
        Spencer, Mayoras, Henderson, & Koch, PLC is a firm of knowledgeable, passionate, criminal defense lawyers in Northern Virginia who dedicate their talents to helping people in crisis. Our attorneys are experienced in defending our clients against all criminal accusations ranging from reckless driving to murder. 
        .index_photo
          %p Insert Group Photo

      %p We arm our clients with the knowledge, preparation, and power to make some of the hardest decisions of their lives. Our skilled, creative attorneys empower our clients with all of their options. Whether fighting for your innocence in front of a jury or working out a favorable plea agreement, we work hard for every client.  
      %p With two locations, one next to the Fairfax courthouse and another office in downtown Fredericksburg, our firm is excellently situated to handle courts in Northern Virginia and the Rappahannock Area.  
      %p Our team has proven exceptional results both in and outside the courtrooms of Arlington, Alexandria, Fairfax, Fredericksburg, Loudoun, Prince William, Stafford, Spotsylvania, King George and the 4th Circuit Eastern District Court in Alexandria.


%script{"type"=>"text/javascript", "src"=>"http://download.skype.com/share/skypebuttons/js/skypeCheck.js"}