.index_wrap.clearfix
  .right_content
    / .datepicker_wrap
    /   #datepicker
    .quick_contact_menu
      %h2 Quick Contact
      %ul
        %li 
          %b Fredericksburg: 
          (540) 372-4046

        %li 
          %b Fairfax: 
          (703) 293-2960

    .options_menu
      %ul
        %li{"style"=>"border-bottom:none;"}
          %a.btn.green.facebox{"href"=>"/send_mail_to_partners"} Send an Email to the Partners
        %li 
          %a.btn.green.facebox{"href"=>"/send_mail_to_friend"} Send this page to a friend
        %li 
          %a.btn.green{"href"=>"/locations"} View full contact information
        
  .left_content
    %h1.main_head Spencer, Mayoras, Henderson, &amp; Koch, PLC
    .index_photo
      %p Insert Photo
    .index_text
      %p{"langtag"=>"description"}
        Welcome to the webpage of Spencer, Mayoras, Henderson, and Koch PLC. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nisl mauris, tempor fermentum malesuada a, feugiat vel ipsum. Donec leo libero, accumsan pharetra pharetra sit amet, venenatis vel velit. Cras condimentum ante ac mauris sagittis congue. Curabitur euismod tristique justo, et volutpat magna dapibus in. Vivamus a libero eget enim posuere euismod vel a mi. Donec et ante non mi aliquet accumsan quis nec dolor.
    .test{"src"=>"http://127.0.0.1:3000/partners#xpath!/p[1]"}


%script{"type"=>"text/javascript", "src"=>"http://download.skype.com/share/skypebuttons/js/skypeCheck.js"}