.index_wrap.clearfix
  .right_content
    .options_menu
      %h2{"style"=>"font-style:italic;"} Resources
      %ul
        %li 
          %h3 Fairfax Resources
          #fairfax_services
            %ul
              %li

  .left_content
    %h1.main_head Our Services
