.index_wrap.clearfix
  .right_content
    .resource_list
      %h2 Resource Center

      %h3 Virginia Judicial System
      %ul
        %li
          %a{"href"=>"http://www.courts.state.va.us/"} Online Case Information
      %h3 Local Court Websites
      %ul
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/living/legal/"} Fairfax County
        %li
          %a{"href"=>"http://www.pwcgov.org/default.aspx?topic=04"} Prince William County
        %li
          %a{"href"=>"http://co.stafford.va.us/Constitutional_Officers/Courts_&_Legal_Services/Index.shtml"} Stafford County
        %li
          %a{"href"=>"http://www.spotsylvania.va.us/departments/index.cfm?CourtList=1"} Spotsylvania County

  .left_content
    %h1.main_head Our Services
    %p 
      With your mouse, hover over the service for more details. Feel free to
      %a{"href"=>"/locations"} call
      or
      %a{"href"=>"mailto:partners@smhklaw.com"}email
      if you have questions about a specific service or if you need help with something that is not listed below.
    %table.services_table
      %tr
        %td.vertical_alignment
          .services_wrap    
            %h2 Traffic Violations
            %ul 
              %li
                %a{:href=>"#",:tooltip => "<strong>Speeding:</strong> Driving above the posted speed limit. Speeding is a traffic violation."} Speeding
              %li
                %a{:href=>"#",:tooltip => "<strong>Reckless Driving: </strong>Speeding 20 mph or more above the posted speed limit.  Any speed greater than 80 mph.  Driving a vehicle recklessly or in a manner to endanger the life, limb, or property.  Reckless driving is a Class 1 misdemeanor criminal offense."} Reckless Driving
              %li 
                %a{:href=>"#",:tooltip => "<strong>No Valid Operator's License: </strong>Driving without a valid driver’s license."}No Valid Operator's License
              %li 
                %a{:href=>"#",:tooltip => "<strong>Driving on Suspended: </strong>Driving after his or her license was suspended by the Court or the Department of Motor Vehicles.  Examples of license suspensions include:  point accumulation with the DMV, failure to pay fines and court costs, or as a sentence for a criminal conviction."}Driving on Suspended
              %li 
                %a{:href=>"#",:tooltip => "<strong>DUI/DWI: </strong>Operating a vehicle after consuming alcohol or drugs.  There is a presumption of guilt in Virginia when operating a vehicle with a Breath Alcohol Content (BAC) of .08 or higher."}DUI/DWI
            %h2 Theft Offenses
            %ul 
              %li 
                %a{:href=>"#",:tooltip => "<strong>Shoplifting: </strong>Theft of goods from a retail establishment."}Shoplifting
              %li 
                %a{:href=>"#",:tooltip => "<strong>Petit Larceny: </strong>Theft (the taking and carrying area) of personal property valued at $200 or less.  Petit Larceny is a Class 1 misdemeanor."}Petit Larceny
              %li 
                %a{:href=>"#",:tooltip => "<strong>Grand Larceny: </strong>Theft (the taking and carrying area) of personal property valued at greater than $200.  Grand Larceny is a felony offense, which carries a statutory penalty of probation to 20 years incarceration."}Grand Larceny
              %li 
                %a{:href=>"#",:tooltip => "<strong>Embezzlement: </strong>Dishonestly secreting assets by someone who was entrusted to have such assets.  The most common form of embezzlement is taking money from an employer."}Embezzlement
              %li 
                %a{:href=>"#",:tooltip => "<strong>Burglary: </strong>Breaking and entering into a building for the purpose of committing another crime."}Burglary
              %li 
                %a{:href=>"#",:tooltip => "<strong>Robbery: </strong>Taking property of another, with the intent to permanently deprive the person of that property, by means of force or fear."}Robbery 
            %h2 Sex Offenses
            %h2 Computer Crimes

        %td.vertical_alignment
          .services_wrap    
            %h2 Drug Offenses
            %ul
              %li 
                %a{:href=>"#",:tooltip => "<strong>Possession: </strong>Having a controlled substance (marijuana, cocaine, heroin, ecstasy, etc.) in one’s possession.  Examples of possession include in your book bag or purse, in your car, or on your person."}Possession
              %li 
                %a{:href=>"#",:tooltip => "<strong>Distribution: </strong>Includes manufacturing, selling, giving, distributing, or possessing with the intent to manufacture, sell, give or distribute a controlled substance (marijuana, cocaine, heroin, ecstasy, etc.)."}Distribution
            %h2 Assault Offenses
            %ul
              %li 
                %a{:href=>"#",:tooltip => "<strong>Assault & Battery: </strong>Assault is the threat of violence and battery is physical violence.  Assault is saying that you are going to hit someone and battery is doing it.  Assault & Battery is a Class 1 Misdemeanor."}Assault & Battery
              %li 
                %a{:href=>"#",:tooltip => "<strong>Domestic Assault: </strong>Is an assault and battery (please see above) of a family member.  Family member is a legal term, which includes but is not limited to spouses, children, siblings, and individuals who have a child in common."}Domestic Assault
              %li 
                %a{:href=>"#",:tooltip => "<strong>Malicious Wounding: </strong>Shooting, stabbing, cutting, wounding, or causing bodily injury with the intention to main, injure, disfigure, disable, or kill."}Malicious Wounding
              %li 
                %a{:href=>"#",:tooltip => "<strong>Murder: </strong>Unlawful killing of another human being"}Murder
            %h2 Misdemeanors
            %ul 
              %li 
                %a{:href=>"#",:tooltip => "<strong>Disorderly Conduct: </strong>Intentionally cause public inconvenience, annoyance or alarm in a public place, which interferes with a funeral, meeting or school activity or has a direct tendency to cause acts of violence."}Disorderly Conduct
              %li 
                %a{:href=>"#",:tooltip => "<strong>Trespass: </strong>Intrusion into another person’s property"}Trespass          
            %h2 Probation Violations
