.index_wrap.clearfix
  .right_content
    .resource_list
      %h2 Resource Center
      %h3 Fairfax
      %ul
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/courts/circuit/pdf/CCR-A-320.pdf"} Criminal Case Status Form
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/courts/circuit/pdf/CCR-C-30.pdf"} Restitution Plan
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/courts/circuit/pdf/CCR-C-50.PDF"} Restricted Operator's License Criminal Application Worksheet
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/courts/circuit/pdf/CCR-A-321.PDF"} Transportation Order
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/courts/circuit/pdf/CCR-C-40.PDF"} Victim Information Sheet

      %h3 Prince William
      %ul
        %li
          %a{"href"=>"#"} Coming Soon

  .left_content
    %h1.main_head Our Services
