.index_wrap.clearfix
  .right_content
    .resource_list
      %h2 Resource Center

      %h3 Virginia Judicial System
      %ul
        %li
          %a{"href"=>"http://www.courts.state.va.us/"} Online Case Information
      %h3 Local Court Websites
      %ul
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/living/legal/"} Fairfax County
        %li
          %a{"href"=>"http://www.pwcgov.org/default.aspx?topic=04"} Prince William County
        %li
          %a{"href"=>"http://co.stafford.va.us/Constitutional_Officers/Courts_&_Legal_Services/Index.shtml"} Stafford County
        %li
          %a{"href"=>"http://www.spotsylvania.va.us/departments/index.cfm?CourtList=1"} Spotsylvania County

  .left_content
    %h1.main_head Our Services
    %p 
      With your mouse, hover over the service for more details. Feel free to
      %a{"href"=>"/locations"} call
      or
      %a{"href"=>"mailto:partners@smhklaw.com"}email
      if you have questions about a specific service or if you need help with something that is not listed below.
    %table.services_table
      %tr
        %td.vertical_alignment
          .services_wrap    
            %h2 Traffic Violations
            %ul 
              %li
                %a{:href=>"#",:tooltip => "Insert Speeding Content Here"} Speeding
              %li
                %a{:href=>"#",:tooltip => "Insert Reckless Driving Content Here"} Reckless Driving
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}No Valid Operator's License
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Driving on Suspended
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}DUI/DWI
            %h2 Theft Offenses
            %ul 
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Shoplifting
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Petit Larceny
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Grand Larceny
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Embezzlement
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Burglary
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Robbery 
            %h2 Sex Offenses
            %h2 Computer Crimes

        %td.vertical_alignment
          .services_wrap    
            %h2 Drug Offenses
            %ul
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Possession
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Distribution
            %h2 Assault Offenses
            %ul
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Assault & Battery
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Domestic Assault
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Malicious Wounding
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Murder
            %h2 Misdemeanors
            %ul 
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Disorderly Conduct
              %li 
                %a{:href=>"#",:tooltip => "Insert Content Here"}Trespass          
            %h2 Probation Violations
