.index_wrap.clearfix
  .right_content
    .resource_list
      %h2 Resource Center

      %h3 Virginia Judicial System
      %ul
        %li
          %a{"href"=>"http://www.courts.state.va.us/"} Online Case Information
      %h3 Local Court Websites
      %ul
        %li
          %a{"href"=>"http://www.fairfaxcounty.gov/living/legal/"} Fairfax County
        %li
          %a{"href"=>"http://www.pwcgov.org/default.aspx?topic=04"} Prince William County
        %li
          %a{"href"=>"http://co.stafford.va.us/Constitutional_Officers/Courts_&_Legal_Services/Index.shtml"} Stafford County
        %li
          %a{"href"=>"http://www.spotsylvania.va.us/departments/index.cfm?CourtList=1"} Spotsylvania County

  .left_content
    %h1.main_head Our Services
    %p 
      Hover over the service with your mouse for more details on the service. Feel free to
      %a{"href"=>"/locations"} call
      or
      %a{"href"=>"mailto:partners@smhklaw.com"}email
      if you have questions about a specific service or if you need help with something that is not listed below.
    %table.services_table
      %tr
        %td.vertical_alignment
          .services_wrap    
            %h2 Traffic Violations
            %ul 
              %li Speeding
              %li Reckless Driving
              %li No Valid Operator's License
              %li Driving on Suspended
              %li DUI/DWI
            %h2 Theft Offenses
            %ul 
              %li Shoplifting
              %li Petit Larceny
              %li Grand Larceny
              %li Embezzlement
              %li Burglary
              %li Robbery 
            %h2 Sex Offenses
            %h2 Computer Crimes

        %td.vertical_alignment
          .services_wrap    
            %h2 Drug Offenses
            %ul
              %li Possession
              %li Distribution
            %h2 Assault Offenses
            %ul
              %li Assault & Battery
              %li Domestic Assault
              %li Malicious Wounding
              %li Murder
            %h2 Misdemeanors
            %ul 
              %li Disorderly Conduct
              %li Trespass          
            %h2 Probation Violations
