.left_column
  %h1
    Our News Blog
    %span.options_link
      - if logged_in?
        = link_to 'Create a new post?', new_post_path, :class=>"facebox"
  = render :partial => @posts
.right_column
  .resource_list
    #twitter_div
      %h2 Other News
      %h3 Arlington Bar Twitter News
      %ul#twitter_update_list
        %li Twiiter Updates
%script{:type=>"text/javascript", :src=>"http://twitter.com/javascripts/blogger.js"}
%script{:type=>"text/javascript", :src=>"http://twitter.com/statuses/user_timeline/arlingtonbar.json?callback=twitterCallback2&amp;count=5"}  